@import "tailwindcss";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
}

/* 
pink: #e8c8bd
purple: 423745
lavande: 8a7890
bege: ce917f
terracote: ad594f
*/